li[data-category="fruit"] {
    background-color: yellow;

    &:hover {
        background-color: rgb(158, 158, 99);
    }
}

li[data-name='brocoli'] {
    background-color: green;

    &:hover {
        background-color: rgb(92, 133, 31);
    }
}

li[data-color='white'] {
    background-color: rgb(241, 214, 214);

    &:hover {
        background-color: aliceblue;
    }
}

li {
    list-style: none;
    text-align: center;
    margin: 40px;
    padding: 30px 50px;
    box-shadow: 1px 1px 5px;
    width: 12rem;
    flex: content;
}

ul {
    display: flex;
}